{
	"appName": "Mesh Editor",
	"supported": {
		"languages": [
			"en",
			"pl"
		],
		"imageTypes": [
			"jpg",
			"png",
			"bnp"
		]
	},
	"imageBox": {
		"defaultBorder": 0.1,
		"zoom": {
			"min": 0.2,
			"max": 100
		}
	},
	"meshBox": {
		"spaceAroundImage": 1,
		"nodeBoxRadius": 8,
		"proportionalSpaceFactor": 500
	},
	"default": {
		"language": "en",
		"windowSize": {
			"w": 1200,
			"h": 800
		},
		"visualProperties": {
			"meshTransparency": 0.75,
			"imageVisible": true,
			"meshVisible": true,
			"nodeRadius": 8,
			"nodeColor": {
				"objectType": "sgora.mesh.editor.model.paint.SerializableColor",
				"red": 0.1,
				"green": 0.2,
				"blue": 0.4
			}
		}
	},
	"extension": {
		"project": "mesh",
		"localization": "lang"
	},
	"flags": {
		"showConfirmDialogs": true
	}
}