{
	"appName": "Mesh Editor",
	"supported": {
		"languages": [
			"en",
			"pl"
		],
		"imageTypes": [
			"jpg",
			"png",
			"bnp"
		]
	},
	"imageBox": {
		"defaultBorder": 0.1,
		"zoom": {
			"min": 0.2,
			"max": 100
		}
	},
	"meshBox": {
		"spaceAroundImage": 1
	},
	"default": {
		"language": "en",
		"windowSize": {
			"w": 1200,
			"h": 800
		}
	},
	"extension": {
		"project": "mesh",
		"localization": "lang"
	},
	"flags": {
		"showConfirmDialogs": true
	}
}