{
	"app": {
		"name": "Mesh Editor",
		"version": "0.9",
		"debugMode": false
	},
	"supported": {
		"languages": [
			"en",
			"pl"
		],
		"imageTypes": [
			"jpg",
			"png",
			"bnp"
		]
	},
	"imageBox": {
		"defaultBorder": 0.1,
		"zoom": {
			"min": 0.2,
			"max": 100
		}
	},
	"meshBox": {
		"spaceAroundImage": 1,
		"nodeBoxRadius": 8,
		"proportionalSpaceFactor": 500,
		"edgeColorSamples": 10,
		"edgeThickness": {
			"min": 1,
			"max": 10
		},
		"nodeRadius": {
			"min": 2,
			"max": 16
		}
	},
	"default": {
		"language": "en",
		"windowSize": {
			"w": 1200,
			"h": 800
		},
		"visualProperties": {
			"meshTransparency": 0.75,
			"meshVisible": true,
			"imageTransparency": 0.75,
			"imageVisible": true,

			"triangulationLayer": {
				"layerVisible": true,
				"layerTransparency": 0.75,
				"polygonsVisible": true,

				"edgeThickness": 1,
				"edgesVisible": false,

				"nodeRadius": 6,
				"nodesVisible": true
			},
			"voronoiDiagramLayer": {
				"layerVisible": true,
				"layerTransparency": 0.4,
				"polygonsVisible": false,

				"edgeThickness": 2,
				"edgesVisible": true,

				"nodeRadius": 2,
				"nodesVisible": false
			}
		}
	},
	"extension": {
		"project": "mesh",
		"localization": "lang"
	},
	"flags": {
		"showConfirmDialogs": false
	}
}